@using Abp.Application.Services.Dto
@using pkhmelyov.AbpReposterBot.Posts.Dtos
@using pkhmelyov.AbpReposterBot.Web.Startup
@model ListResultDto<PostListDto>
@{
    ViewBag.CurrentPageName = PageNames.Posts;
    ViewBag.PageHeader = L("Posts");
}

<table class="table">
    @foreach(var post in Model.Items)
    {
        <tr><td>@post.Body</td><td><a asp-controller="Posts" asp-action="Send" asp-route-id="@post.Id" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
    Send
</a></td></tr>
    }
</table>
@* <pagination total-items-count="Model." /> *@
<a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
    <i class="material-icons">add</i>
</a>
