@model pkhmelyov.AbpReposterBot.Web.Mvc.Models.Posts.PostsSendViewModel

@{
    
}

<form method="post" asp-controller="Posts" asp-action="Send" asp-route-id="@Model.Id">
    <select asp-></select>
    <input type="submit" />
</form>