@model pkhmelyov.AbpReposterBot.Web.Mvc.Models.Posts.PostsSendViewModel

@{
    
}

<p>@Model.Post.Body</p>

<form method="post" asp-controller="Posts" asp-action="Send" asp-route-id="@Model.Id">
    <select asp-for="ChannelId" asp-items="@Model.ChannelItems"></select>
    <input type="submit" value="Send" />
</form>